<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="cz.martinbayer.e4.analyser"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/cz.martinbayer.e4.analyser/css/default.css">
         </property>
         <property
               name="appName"
               value="cz.martinbayer.e4.analyser">
         </property>
      </product>
   </extension>

</plugin>
